<div class="container">

  <div><img src="../../assets/Grand_Majestic_Plaza_Lobby.jpg" style="height:800px; width:1800px;">
  <div class="name"><h1>Hotel Tshanduko </h1></div>
  <div class="text-block"> 
    
    <p> Prices Starting from R1200 Per Room</p>
  </div>
  </div>
</div>

<div class="menu">
<ul>
  <li><a href="Services">Sevices</a></li>
  <li><a href="Gallery">Gallery</a></li>
  <li><a href="About">About</a></li>
  <li><a href="Contact">Contact</a></li>
  </ul>

  
</div>

<div class="Booking">
  <button routerLink='/RoomBooking'>Booking</button>
</div>
