<div class="Container.">

 <div><img src="../../assets/images (1).jpg" style="height:200px; width:2000px;">

 <h1 align="center">About Us</h1>
<p align="center"><font size="5">We are all very different. We were born in different cities,<br>
at different times,but yet we respect our guests and always welcome them .<br>
 And one thing that unite us is the love that we have on our special guests.<br>
 We are not just a team, we are a family together with the guests.

</font></p>
</div>
<h1 align="center">Our Team</h1>
    <br>
    
    <div class="row">
      <div class="column">
        <div class="card">
          <tr>
          <img src="../../assets/solly.jpg" alt="Solly" style="width:20%">
          <div class="container">
            <h2>Solly Phalanndwa</h2>
            <p class="title">CEO & Founder</p>
            <p>Works with one or more other co-founders to establish and direct the<br>
               activities of a business startup.</p>
            <p>sollyp@mknconsulting.co.za</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="../../assets/kenneth-1.jpg" alt="Kenneth" style="width:20%">
          <div class="container">
            <h2>Kenneth Mmangadzeni</h2>
            <p class="title">Art Director</p>
            <p>Establishes the conceptual and stylistic direction for all design <br>
            staff and orchestrates their work, as well as the work of production artists</p>
             
            <p>kennyp@gmail.com</p>
            <p><button class="button">Contact</button></p>
          
          </div>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <img src="../../assets/me.JPG" alt="Livhuwani" style="width:20%">
          <div class="container">
            <h2>Livhuwani Phalandwa</h2>
            <p class="title">Designer</p>
            <p>Responsible for the design of graphic applications such as collateral material,<br>
               environmental graphics, books and magazines, corporate identity and branding, film <br>
               titling and websites, from concept to completion</p>
            <p>p.livhue@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div>
    
<div class="about">
   
    <router-outlet routerlink='/about'></router-outlet>
</div>
</div>