

       
      
        <div class="container">
          <h2>Hotel Gallery</h2>  
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            
            <div class="carousel-inner">
              <div class="item active">
                  <div class="row">
                      <div class="column">
                  <img src="../../assets/Bedroom1.jpg"  alt="Bedroom1" style="width:300%;">
              
              <div class="item">
                  <img src="../../assets/bedroom2.jpg" alt="bedroom2" style="width:300%;">
            

              <div class="item">
                  <img src="../../assets/bedroom3.jpg" alt="bedroom3" style="width:300%;"> 
           

              <div class="item">
                  <img src="../../assets/balcony.jpg" alt="balcony" style="width:300%;">
            </div>

            
              <div class="item">
                  <img src="../../assets/balcony1.jpg" alt="food2" style="width:300%;">
              </div>
            
              <div class="item">
                  <img src="../../assets/balcony-02.jpg" alt="food2" style="width:300%;">
            </div>

              <div class="item">
                  <img src="../../assets/pool.jpg" alt="food2" style="width:300%;">
              </div>
            
              <div class="item">
                  <img src="../../assets/bedroom4.jpg" alt="food2" style="width:300%;">
            </div>
            </div>
        
        </div>
        
        
        
         
      
    