<div class="container">

    <div><img src="../../assets/guest-services.jpg" style="height:750px; width:2000px;">
   
  </div>
<div class="q">
  <ul>
      <div class="p1"><li><h1>Our Services</h1></li></div>
      <div class="p2"><li><p>Pure Vage</p></li></div>
      <div class="p3"><li><p>100% Hygenic</p></li></div>
      <div class="p4"><li><p>Lowest cost</p></li></div>
      <div class="p5"><li><p>24 hours security</p></li></div>
      <div class="p5"><li><p>Free Wifi</p></li></div>
      <div class="p5"><li><p>Private Pools</p></li></div>
      <div class="p7"><li><p>In room air condition</p></li></div>
      <div class="p8"><li><p>Winter Special Offers</p></li></div>
  </ul>
  <router-outlet routerlink='/LoginPage'></router-outlet>
</div>
